{{ region_form.regions.errors }}
<div class="hidden restricted checkbox-choices region-choices"{% if not is_paid %} id="region-list" data-disabled-regions="{{ region_form.disabled_regions|json }}"{% endif %} data-special-regions="{{ region_form.special_region_ids|json }}">
  <ul>
    {% for value, text in region_form.regions.field.choices %}
      {% set special = value in region_form.special_region_ids %}
      {% set disabled = value in region_form.disabled_regions %}
      {% set checked = value in region_form.initial.regions %}
      <li data-region="{{ value }}">
        <label class="region-cb{{ ' special' if special }}{{ ' disabled' if disabled }}">
          <input type="checkbox" class="restricted{{ ' special' if special }}"
            {% if disabled %}disabled{% elif checked %}checked{% endif %}
            name="regions" value="{{ value }}">
          {{ text }}
        </label>
        <span class="status-label"></span>
      </li>
    {% endfor %}
  </ul>
</div>
{% if region_form.disabled_regions %}
  {% include 'developers/payments/includes/regions_disabled.html' %}
{% endif %}
<div class="other-regions{{ ' restricted' if not is_paid }}">
  {% include 'developers/payments/includes/regions_other.html' %}
</div>
